ssl = required
ssl_cert = <<%= scope.lookupvar('ssl::certs') %>/dovecot.crt
ssl_key = <<%= scope.lookupvar('ssl::private') %>/dovecot.key
<% if @dovecot_ssl_ca -%>
ssl_ca = <<%= scope.lookupvar('ssl::certs') %>/dovecot.ca.crt
<% end -%>
ssl_cipher_list = <%= scope.lookupvar('ssl::ciphersuites::default_ciphersuites') %>
<% if @dovecot_mailbox_format && @dovecot_mailbox_format == "mdbox" -%>

# mdbox settings
mdbox_rotate_size = 10M
mdbox_rotate_interval = 10d
<% end -%>
<% if @dovecot_zlib && @dovecot_zlib == "yes" -%>

# zlib
mail_plugins = $mail_plugins zlib
plugin {
  zlib_save_level = 1 # 1..9
  zlib_save = gz # or bz2
}
<% end -%>

# disable plain text imap and pop3
service pop3-login {
    inet_listener pop3 {
        port = 0
    }   
}   
service imap-login {
    inet_listener imap {
        port = 0
    }
}
