
auto <%= @name %>
<% if @proto == 'none' -%>
iface <%= @name %> inet manual
<% else -%>
iface <%= @name %> inet <%= @proto %>
<% end -%>
<% if @ipaddr != 'none' and @ipaddr != 'dhcp' -%>
    address <%= @ipaddr %>
<% end -%>
<% if @netmask != 'none' -%>
    netmask <%= @netmask %>
<% end -%>
<% if @dnssearch != 'none' -%>
    dns-search <%= @dnssearch %>
<% end -%>
<% if @dnsnameservers != 'none' -%>
    dns-nameservers <%= @dnsnameservers %>
<% end -%>
<% @options.each do |val| -%>
    <%= val %>
<% end -%>
