#!/bin/bash

CAPTURE_DIR="/var/lib/recorder/<%= @name %>"
PRIVATE_CERT="<%= @puppet_ssldir %>/private_keys/<%= @homename %>.pem"
PUBLIC_CERT="<%= @puppet_ssldir %>/certs/<%= @homename %>.pem"
PORT="<%= @remoteport %>"
<% if @collab.is_a?(Array) -%>
COLLAB="<%= @collab.join(" ") %>"
<% else -%>
COLLAB="<%= @collab %>"
<% end -%>
OPTIONS="<%= @remoteopt %>"

. /etc/abusesa/abusesa-functions
