
Director {
    Name = "bacula-dir"
    Password = "<%= @password_real %>"
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
}

FileDaemon {
    Name = "<%= @homename %>"
    WorkingDirectory = /var/spool/bacula
    Pid Directory = /var/run
    Maximum Network Buffer Size = 65536
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
}

Messages {
    Name = "Standard"
    director = bacula-dir = all, !skipped, !restored
}
