
Device {
    Name = "<%= @name %>"
    Media Type = <%= @media %>
    Archive Device = <%= @device %>
    AutomaticMount = yes;
    AlwaysOpen = no;
    RemovableMedia = yes;
    RandomAccess = no;
    Maximum Network Buffer Size = 65536
    Maximum File Size = 5GB
    Maximum Blocksize = 1024000
    Alert Command = "sh -c '/usr/local/sbin/tapealert %a'"
}
