zone "<%= @zone %>" {
    type slave;
<% if @zone.match(/\//) %>
    file "<%= @zonedir %>/db.<%= @zone.sub(/\//, '-') %>";
<% else -%>
    file "<%= @zonedir %>/db.<%= @zone %>";
<% end -%>
<% if @master.is_a?(Hash) -%>
    masters {
    <%     @master.each_pair do |k, v| -%>
        <%= v['ip'] %>;
    <%     end -%>
    };
<% else -%>
    masters { <%= @master %>; };
<% end -%>
    allow-transfer { none; };
};
