<%
require 'json'

config = {
  'authUrl' => @authurl,
  'boshUrl' => @boshurl,
}

if @colormap
  config['colormap'] = @colormap
end

if @mapurl
  config['viewPlugins'] = [{
    'id' => 'map',
    'name' => 'Map',
    'type' => 'PolymapsView',
    'settings' => { 'mapUrl' => @mapurl },
  }]
end
-%>
<%= JSON.pretty_generate(config) %>
