sendmail	/usr/sbin/smtpctl
send-mail	/usr/sbin/smtpctl
mailq		/usr/sbin/smtpctl
<% if scope.function_versioncmp([@operatingsystemrelease, "5.9"]) >= 0 -%>
makemap		/usr/sbin/smtpctl
newaliases	/usr/sbin/smtpctl
<% else -%>
makemap		/usr/libexec/smtpd/makemap
newaliases	/usr/libexec/smtpd/makemap
<% end -%>
