<% if scope.lookupvar('apache::version') == '2.4' -%>
DirectoryIndex disabled
<% end -%>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(.*)$ http://localhost:5280/http-bind/$1 [P,L]
</IfModule>
