# $OpenBSD: login.conf,v 1.7 2016/06/26 20:32:31 tedu Exp $

#
# Sample login.conf file.  See login.conf(5) for details.
#

#
# Standard authentication styles:
#
# passwd	Use only the local password file
# chpass	Do not authenticate, but change users password (change
#		the YP password if the user has one, else change the
#		local password)
# lchpass	Do not login; change user's local password instead
# radius	Use radius authentication
# reject	Use rejected authentication
# skey		Use S/Key authentication
# activ		ActivCard X9.9 token authentication
# crypto	CRYPTOCard X9.9 token authentication
# snk		Digital Pathways SecureNet Key authentication
# tis		TIS Firewall Toolkit authentication
# token		Generic X9.9 token authentication
# yubikey	YubiKey authentication
#

# Default allowed authentication styles
auth-defaults:auth=passwd,skey:

# Default allowed authentication styles for authentication type ftp
auth-ftp-defaults:auth-ftp=passwd:

#
# The default values
# To alter the default authentication types change the line:
#	:tc=auth-defaults:\
# to be read something like: (enables passwd, "myauth", and activ)
#	:auth=passwd,myauth,activ:\
# Any value changed in the daemon class should be reset in default
# class.
#
default:\
	:path=/usr/bin /bin /usr/sbin /sbin /usr/X11R6/bin /usr/local/bin /usr/local/sbin:\
	:umask=022:\
	:datasize-max=512M:\
	:datasize-cur=512M:\
	:maxproc-max=256:\
	:maxproc-cur=128:\
	:openfiles-cur=512:\
	:stacksize-cur=4M:\
	:localcipher=blowfish,a:\
	:tc=auth-defaults:\
	:tc=auth-ftp-defaults:

#
# Settings used by /etc/rc and root
# This must be set properly for daemons started as root by inetd as well.
# Be sure reset these values back to system defaults in the default class!
#
daemon:\
	:ignorenologin:\
	:datasize=infinity:\
	:maxproc=infinity:\
	:openfiles-cur=128:\
	:stacksize-cur=8M:\
	:localcipher=blowfish,a:\
	:tc=default:

#
# Staff have fewer restrictions and can login even when nologins are set.
#
staff:\
	:datasize-cur=1536M:\
	:datasize-max=infinity:\
	:maxproc-max=512:\
	:maxproc-cur=256:\
	:ignorenologin:\
	:requirehome@:\
	:tc=default:

#
# Authpf accounts get a special motd and shell
#
authpf:\
	:welcome=/etc/motd.authpf:\
	:shell=/usr/sbin/authpf:\
	:tc=default:

#
# Building ports with DPB uses raised limits
#
pbuild:\
	:datasize-max=infinity:\
	:datasize-cur=4096M:\
	:maxproc-max=1024:\
	:maxproc-cur=256:\
	:tc=default:

#
# Override resource limits for certain daemons started by rc.d(8)
#
bgpd:\
	:openfiles-cur=512:\
	:tc=daemon:

unbound:\
	:openfiles-cur=512:\
	:tc=daemon:

dovecot:\
	:openfiles-cur=1024:\
	:tc=daemon:

<%
require 'uri'

n = 0
servers = ""
@ldap_server.each do |uri|
    uri = URI.parse(uri)
    if uri.scheme == "ldaps":
        mode = "ssl"
    else
        mode = "plain"
    end
    if n == 0:
        servers += ":x-ldap-server=%s,,%s:\\\n" % [uri.host, mode]
    else
        servers += "\t:x-ldap-serveralt%d=%s,,%s:\\\n" % [n-1, uri.host, mode]
    end
    n += 1
end
-%>
ldap:\
	:auth=-ldap:\
	<%= servers -%>
	:x-ldap-basedn=<%= @ldap_basedn %>:\
	:x-ldap-filter=(&(objectclass=posixAccount)(uid=%u)):\
	:umask=<%= @ldap_login_umask %>:\
	:tc=default:
