<VirtualHost *:80>
  ServerName <%= @site_fqdn %>
<% if @aliases != "" -%>
  ServerAlias <%= @aliases %>
<% end -%>
  ErrorLog /srv/www/log/http/<%= @site_fqdn %>/error_log
  CustomLog /srv/www/log/http/<%= @site_fqdn %>/access_log combined
<% if @proxy != "" -%>
  ProxyPass / <%= @proxy %>/
  ProxyPassReverse / <%= @proxy %>/
<% else -%>
  DocumentRoot /srv/www/http/<%= @site_fqdn %>
  Include <%= @site_confdir %>/*.conf
<% end -%>
</VirtualHost>
